@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --secMainColor: linear-gradient(40deg, #016DEA, #FA0101);
    --revSecMainColor: linear-gradient(-40deg, #016DEA, #FA0101);
    --mainColor: #63636380;
}
.gradient-text {
    background: linear-gradient(40deg, #016DEA, #FA0101);
    /* Define the gradient */
    -webkit-background-clip: text;
    /* Clip the background to the text */
    -webkit-text-fill-color: transparent;
    /* Make the text fill color transparent */
}

.liner ul {
    position: relative;
}

.liner ul::before {
    content: "";
        position: absolute;
        width: 138px;
        height: 1px;
        background-color: #016DEA;
        transform: rotate(90deg);
        top: 80px;
        left: -53px;

}