@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --secMainColor: linear-gradient(40deg, #016DEA, #FA0101);
    --revSecMainColor: linear-gradient(-40deg, #016DEA, #FA0101);
    --mainColor: #63636380;
}
.gradient-text {
    background: linear-gradient(40deg, #016DEA, #FA0101); /* Define the gradient */
    -webkit-background-clip: text; /* Clip the background to the text */
    -webkit-text-fill-color: transparent; /* Make the text fill color transparent */
}

.gradient-border {
    position: relative;
    /* Position relative to allow positioning of pseudo-element */
    padding: 10px;
    /* Add some padding to make space for the border */
    border-radius: 10px;
    /* Optional: for rounded corners */
    z-index: 1;
    /* Ensure content is above the pseudo-element */
}

.gradient-border::before {
    content: "";
    /* Required to display the pseudo-element */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    /* Position behind the content */
    border-radius: inherit;
    /* Inherit border-radius from the main element */
    background: linear-gradient(40deg, #016DEA, #FA0101);
    /* Apply the gradient */
    padding: 5px;
    /* Adjust for the thickness of the border */
}

.contract-icon {
    padding: 10px;
    border-radius: 50%;
    background: var(--background);
    box-shadow: 0 0 0 1px var(--secMainColor);
}
.traker-p {
    font-family: system-ui;
}
.span {
    background: var(--secMainColor);
}
.dates{
    font-family: system-ui;
    font-size: 15px;
    font-weight: 500;
}
.desc{
    font-family: system-ui;
    font-weight: 500;
}

